.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
*/bin
*/obj
!obj/Docker/publish/*
!obj/Docker/empty/
*/secrets
**/*.pdb
**/*.*.secrets.json
**/web.config
CalculatorApiCalls.postman_collection.json
CalculatorApiCallsDevelopment.postman_environment.json
README.MD